/* Global */
html{
  min-height: 100%;
}
body{
  margin: 0;
  padding: 0;
  color: rgb(5,5,5,.75);
  color: black;
  text-rendering: optimizeLegibility;  
  background-color: rgb(235,235,235);

  
}
/* Main */
.main {
  height: calc(100vh - 8em);
  padding: 4em;
  background-color:white;
}
.line{
    position: relative;
    top: 50%;
    width: 5em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 250%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    
}

/* Animation */
.typewriter{
  background-color: aqua;
  animation: typewriter 2s steps(30) infinite normal/* 1s 1 normal both */, /* speed of type*/
             blinkTextCursor 1000ms steps(20) infinite normal; /* /speed of cursor */
            }

@keyframes typewriter{
  from{width: 0;}
  to{width: 5em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(5,5,5,1);}
  to{border-right-color: transparent;}
}
